<head>
 
    {# Cargamos la librería #} 
    {% load bootstrap4 %} 
  
    {# CSS Bootstrap #} 
    {% bootstrap_css %} 

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
  
</head>
<body>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="35%">Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>  
    
        {% for postre in object_list %}
        <tr>
            <td>{{ arepas.nombre }}</td>
            <td>{{ arepas.precio }}</td>
            <td>{{ arepas.stock }}</td>
            <td><img src="{% static 'uploads/'%}{{arepas.img}}" alt="{{arepas.nombre}}" class="img-fluid" width="7%"></td>
            <td>
    
            <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
            <form method="POST" action="eliminar/{{postre.id}}">
                {% csrf_token %}
                <div class="btn-group">
                
                <a href="detalle/{{arepas.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                <a href="editar/{{arepas.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                
                <!-- Este botón ejecuta el formulario para eliminar un registro o postre en la Base de datos -->
                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    Eliminar
                </button>
    
                </div>
            </form>
    
            </td>
        </tr>
        {% endfor %}
    
        </tbody>
    </table>
    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 

</body>