{% extends 'baseAdmin.html' %}

{% block content %}

{% load static %}


<div class="col-md-8 col-md-offset-2">
  <br>
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h1> Clientes que cumplen años este mes </h1>
      </center>
    </div>
  </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <h3>A continuación se muestran los clientes que cumplen años este mes:</h3>
        <br>
        {% if clientes %}
                
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><center>Nombre</center></th>
                <th scope="col"><center>Fecha Nacimiento</center></th>
              </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
                <tr>
                  <td><center>{{cliente.nombre}}</center></td>
                  <td><center>{{cliente.fechaNacimiento}}</center></td>
                </tr>
                {% empty %}
                <p>No hay clientes que cumplan años este mes 1</p>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% else %}
          <p>
            <div class="alert alert-info" role="alert">
              No hay clientes que cumplan años este mes 2
              </div>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

</div>


{% endblock %}