{% extends 'base.html' %}


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/section.css' %}">

<!-- contact  -->
<div class="col-md-6 col-md-offset-3">
  <!-- class="col-md-6 col-md-offset-3" -->
  <br>
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h1> CATEGORIAS</h1>
      </center>
    </div>
  </div>
  <div class="ps-section--offer">
    {% for categoria in categorias %}
      <div class="ps-column" style="padding: 5px"><a class="ps-offer" href="{% url 'inventario:productosCategorias' nombre=nombre categoria=categoria.pkCategoria %}"><img src="../{{categoria.rutaImagen}}" alt=""></a></div> <!-- <img src="{% static 'images/paginaPrincipal_duenio/categorias.png' %}" alt=""> -->
    {% empty %}
      <p>Vacio</p>
    {% endfor %}
  <br>
</div>


{% endblock %}



