{% extends 'baseAdmin.html' %}


{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/section.css' %}">

<div class="col-md-6 col-md-offset-3">
    <!-- class="col-md-6 col-md-offset-3" -->
    <br>
    <div class="panel-login panel">
      <div class="panel-heading">
        <center>
          <h2> Gestion de Descuentos </h2>
        </center>
      </div>
    </div>
  
    <div class="ps-section--offer">
        <div class="ps-column" style="padding: 5px"><a class="ps-offer" href="{% url 'ventas:descuentoCrear' %}"><img src="{% static 'images/menu_CRUD/crear.png' %}" alt=""></a></div>
        <div class="ps-column" style="padding: 5px"><a class="ps-offer" href="{% url 'ventas:descuentoConsultar' %}"><img src="{% static 'images/menu_CRUD/consultar.png' %}" alt=""></a></div>    
    </div>

    <div class="ps-section--offer">
        <div class="ps-column" style="padding: 5px"><a class="ps-offer" href="{% url 'ventas:descuentoModificar' %}"><img src="{% static 'images/menu_CRUD/modificar.png' %}" alt=""></a></div>
    </div>
    
    <br>
  </div> 


{% endblock %}