{% extends 'baseAdmin.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/section.css' %}">

<!-- contact  -->
<div class="col-md-6 col-md-offset-3" style="padding:75px">
  <!-- class="col-md-6 col-md-offset-3" -->
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h2> Gestión de bodegas </h2>
      </center>
    </div>
  </div>

  <div class="ps-section--offer">
    <div class="ps-column" style="padding:5px"><a href="{% url 'inventario:bodegaregistro' %}" class="ps-offer"><img src="{% static 'images/menu_CRUD/crear.png' %}" alt=""></a></div>
    <div class="ps-column" style="padding:5px"><a href="{% url 'inventario:bodegaconsulta' %}" class="ps-offer"><img src="{% static 'images/menu_CRUD/consultar.png' %}" alt=""></a></div>
  </div>
  <div class= "ps-section--offer">
    <div class="ps-column" style="padding:5px"><a href="{% url 'inventario:bodegaModificar' %}" class="ps-offer"><img src="{% static 'images/menu_CRUD/modificar.png' %}" alt=""></a></div>
    <div class="ps-column" style="padding:5px"><a href="{% url 'inventario:bodegaEliminar' %}" class="ps-offer"><img src="{% static 'images/menu_CRUD/eliminar.png' %}" alt=""></a></div>
  </div>
  <br>
</div>


{% endblock %}
