{% extends 'baseAdmin.html' %}
{% block content %}
	
<div class="col-md-6 col-md-offset-3">
  <br>
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h1> Modificar Bodega </h1>
      </center>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        {% if bodegas %}
        <form method="post" id="form" name="modificarBodega">
          {% csrf_token %} 
          <div class="form-group">
            <label for="idBodega">Seleccione la bodega a modificar</label>
            <select class="form-control" id="idBodega" name="idBodega" onchange="form.submit();">
              <option value="0" name="comboBoxBodega">Bodega</option>
                {% for bodega in bodegas %}
                  <option value="{{bodega.pkBodega}}" name="{{bodega.pkBodega}}">{{bodega.pkBodega}}</option>
                  {% empty %}
                  <p>No hay Bodegas</p>
                {% endfor %}
              </select>
          </div>

          <div class="form-group">
            <label for ="idB">Bodega que se modificará</label>
            <input value="{{idB}}" readonly type="text" name="idB" id="idB" class="form-control">
          </div>

          <div class="form-group">
            <select class="form-control" id="ciudadBodega" name="ciudadBodega">
                {% for listaCiudad in ciudades %}
                  {% if listaCiudad == ciudad   %}
                  <option selected value={{ciudad}} name={{ciudad}}>{{ciudad}}</option>
                  {% else %}
                  <option value="{{listaCiudad}}" name="{{listaCiudad}}">{{listaCiudad}}</option>
                  {% endif %}
                {% empty %}
                <p>No hay ciudades</p>
                {% endfor %}
              </select>
          </div>
          
          <div class="form-group">
            <label for ="direccionBodega">Nueva dirección</label>
            <input value="{{direccion}}" type="text" name="direccionBodega" id="direccionBodega" class="form-control" placeholder="Nueva dirección">
          </div>
          
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="modificarBodega-submit" id="modificarBodega-submit"  class="form-control btn btn-login" value="Modificar">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-12">
              </div>
            </div>
          </div>
        </form>
        {% else %}
        
            <p>
                <div class="alert alert-info" role="alert">
                    No hay bodegas registrados
                </div>
            </p>
        
        {% endif %}
                    
      </div>
    </div>
  </div>
</div>

{% endblock %}