{% extends 'baseAdmin.html' %}



{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/section.css' %}">

<div class="col-md-6 col-md-offset-3">
  <br>
  <div class="panel-login panel">
    <div class="panel-heading">
      <center>
        <h2> Modificar Productos </h2>
      </center>
    </div>
  </div>

  <div class="ps-section--offer">
    <div class="ps-column" style="padding: 5px"><a class="ps-offer" href="{% url 'inventario:modificarReferencias' %}"><img src="{% static 'images/menu_Botones/referencias.png' %}" alt=""></a></div>    
    <div class="ps-column" style="padding: 5px"><a class="ps-offer" href="{% url 'inventario:modificarProductos' %}"><img src="{% static 'images/menu_Botones/productos.png' %}" alt=""></a></div>
  </div>
</div>

{% endblock %}